In [2]:
#Q1. Find the datatype of these two declaration :
x = 5
y = "John"
print(type(x),type(y))

<class 'int'> <class 'str'>

In [6]:
# Q2. Valid variable names
a100 = 100
_a984_ = 100
# Invalid variable names
# 3a = 10 # SyntaxError: invalid syntax
# @abc = 10 # SyntaxError: invalid syntax
# a9967$ = 100 # SyntaxError: invalid syntax
# xyz-2 = 100 # SyntaxError: cannot assign to operator

In [8]:
#Q3. Check if element exists in list in Python :
# list = test_list = [1, 6, 3, 5, 3, 4]
# 1. Check if 3 exist or not
# 2. Check if 9 exist or not
test_list = [1, 6, 3, 5, 3, 4]

# Check if 3 exists in the list
if 3 in test_list:
    print("3 exists in the list")
else:
    print("3 does not exist in the list")

# Check if 9 exists in the list
if 9 in test_list:
    print("9 exists in the list")
else:
    print("9 does not exist in the list")

3 exists in the list
9 does not exist in the list

In [9]:
#Q4. Take the user input to print the current date
from datetime import date

input("Press any key to print the current date: ")
today = date.today()
print("Today's date is:", today)

Press any key to print the current date: 4
Today's date is: 2023-04-08

In [1]:
#Q5. what is the output of the following code :a. print 9//2  b. print 9%2
x = 9
y = 2 
print (x//y)
print(x%y)

4
1

In [14]:
#Q6. Print First 10 natural numbers using a while loop
i = 1
while i <= 10 :
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10

In [15]:
#Q7. Write a program to accept a number from a user and calculate
#the sum of all numbers from 1 to a given number.
# For example, if the user entered 10 the output should be 55
# (1+2+3+4+5+6+7+8+9+10)
n = int(input("Enter a number"))
total = 0
for i in range(1, n+1):
    total += i
print(f"the sum of all numbers from 1 to {n} is: {total}")

Enter a number5
the sum of all numbers from 1 to 5 is: 15

In [16]:
#Q8. Write a Python program which iterates the integers from 1 to 50.
# For multiples of three print "Fizz" instead of the number and for
# the multiples of five print "Buzz". For numbers which are
# multiples of both three and five print "FizzBuzz".
# Example :
# fizzbuzz
# 1
# 2
# fizz
# 4
# buzz
for i in range(1, 51):
    if i % 3 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 3 ==0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz